:root
{
    /* Colour Pallet */
    --navy: #172951;
    --primary: #ffa36a;

    /* Shades */
    --off-white: #f9faff;
    --white: #fff;

    /* Font */
    --font: #141140;

    /* Status */
    --ongoing: #27cadd;
    --completed: #4e9ad6;

    /* Actions */
    --continue: #06d664;
    --claim: #00acce;
}

body
{
    color: var(--font);
    background-color: var(--navy);
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

main.t-dashboard
{
    display: grid;
    grid-template-columns: minmax(190px, 260px) 1fr;
    gap: 2rem;
    padding: 2rem 2rem 2rem 0;
    height: 100vh;
    overflow: hidden;
}

main.t-dashboard section
{
    border-radius: 1rem;
    background-color: var(--off-white);
    display: block;
    width: 100%;
    height: 100%;
}

main.t-dashboard aside
{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    color: var(--off-white);
}
